Correo.txt
{"name":"0cf40274-3efa-4d74-ac9c-362d9c78333d","id":"/providers/Microsoft.Flow/flows/0cf40274-3efa-4d74-ac9c-362d9c78333d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"2. PCC: Correo","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"55f752b5-bb9d-4157-a068-1f6a96040b13","type":"User","tenantId":"e69ba4e1-1b15-4860-96f8-e353f09a2c21"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-16T12:12:51.720414Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_o_se_modifica_un_elemento":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"be195084-5ed3-4dc5-bf54-315d3f73789f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerOutputs()?['body/Disparadorcorreo/Value'],'Enviar correo')"}]}},"actions":{"Obtener_elementos":{"runAfter":{"Inicializar_variable_Files":["Succeeded"]},"metadata":{"operationMetadataId":"15ff474d-2975-407a-8ecf-df8f571382d7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","$filter":"Disparadorcorreo eq 'Enviar correo'","$orderby":"ID desc","$top":1},"authentication":"@parameters('$authentication')"}},"Inicializar_variable_Files":{"runAfter":{},"metadata":{"operationMetadataId":"33def195-6113-4759-9bcf-29062ff5900c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFiles","type":"array"}]}},"Aplicar_a_cada_PCC":{"foreach":"@outputs('Obtener_elementos')?['body/value']","actions":{"Obtener_datos_adjuntos":{"runAfter":{},"metadata":{"operationMetadataId":"7b4f8c52-336e-4b0e-9de1-1ba8ec064549"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","itemId":"@items('Aplicar_a_cada_PCC')?['ID']"},"authentication":"@parameters('$authentication')"}},"Aplicar_a_cada_adjunto":{"foreach":"@body('Obtener_datos_adjuntos')","actions":{"Obtener_contenido_de_datos_adjuntos":{"runAfter":{},"metadata":{"operationMetadataId":"d7fc4da6-95e7-4f8a-b376-854f2c00632e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","itemId":"@items('Aplicar_a_cada_PCC')?['ID']","attachmentId":"@item()?['Id']"},"authentication":"@parameters('$authentication')"}},"Anexar_a_la_variable_de_matriz_Files":{"runAfter":{"Obtener_contenido_de_datos_adjuntos":["Succeeded"]},"metadata":{"operationMetadataId":"3821a179-36d5-455f-ac21-385f6e4b2554"},"type":"AppendToArrayVariable","inputs":{"name":"varFiles","value":{"Name":"@item()?['DisplayName']","ContentBytes":"@body('Obtener_contenido_de_datos_adjuntos')"}}}},"runAfter":{"Obtener_datos_adjuntos":["Succeeded"]},"metadata":{"operationMetadataId":"5d9aa211-d788-4a7a-a6f6-c13624de24a2"},"type":"Foreach"}},"runAfter":{"Obtener_elementos":["Succeeded"]},"metadata":{"operationMetadataId":"d87274df-ad0c-4702-99f8-72fbbf0b1bfb"},"type":"Foreach"},"Obtener_contenido_de_archivo_mediante_ruta_de_acceso":{"runAfter":{"Aplicar_a_cada_PCC":["Succeeded"]},"metadata":{"operationMetadataId":"04164194-9414-4506-9e83-51492c96702d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","path":"/Documentos compartidos/Logo-Ambipar-720px.jpg","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Inicializar_variable_LogoAmbipar":{"runAfter":{"Obtener_contenido_de_archivo_mediante_ruta_de_acceso":["Succeeded"]},"metadata":{"operationMetadataId":"90a123cf-6ce7-4fc0-bcb2-d0ae2037e342"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varLogoAmbipar","type":"string","value":"<img src=data:image/jpeg;base64,@{outputs('Obtener_contenido_de_archivo_mediante_ruta_de_acceso')?['body'].$content} alt=AmbiparLogo width=148 height=49 />"}]}},"Crear_tabla_HTML_ID1":{"runAfter":{"Aplicar_a_cada_uno_18":["Succeeded"]},"metadata":{"operationMetadataId":"e59eae37-1f5c-468e-acaf-72eb83086154"},"type":"Table","inputs":{"from":"@outputs('Obtener_elementos')?['body/value']","format":"HTML","columns":[{"header":"País","value":"@item()?['Pa_x00ed_s']"},{"header":"Línea*de*negocio","value":"@item()?['L_x00ed_neadenegocio']"},{"header":"Unidad*de*negocio","value":"@item()?['Unidaddenegocio']"},{"header":"Dirección*de*ocurrencia","value":"@item()?['Direcci_x00f3_ndeocurrencia']"}]}},"ID_1":{"runAfter":{"Crear_tabla_HTML_ID1":["Succeeded"]},"metadata":{"operationMetadataId":"06d2aff5-c66c-4749-ae8f-568f2666ce8b"},"type":"Compose","inputs":"@replace(body('Crear_tabla_HTML_ID1'),'*',' ')"},"Crear_tabla_HTML_ID2":{"runAfter":{"ID_1":["Succeeded"]},"metadata":{"operationMetadataId":"3daf4605-c201-45be-8111-36ae434d5ef7"},"type":"Table","inputs":{"from":"@outputs('Obtener_elementos')?['body/value']","format":"HTML","columns":[{"header":"Autor*reporte","value":"@item()?['Nombredequienreporta']"},{"header":"Cargo","value":"@item()?['Cargo']"},{"header":"Fecha*ocurrencia","value":"@formatDateTime(triggerOutputs()?['body/Fechaocurrencia'],'dd/MM/yyyy')"},{"header":"Hora*ocurrencia","value":"@item()?['Horaocurrencia']"},{"header":"Fecha*reporte*CECOE","value":"@formatDateTime(triggerOutputs()?['body/FechareporteCECOE'],'dd/MM/yyyy')"},{"header":"Hora*reporte*CECOE","value":"@item()?['HorareporteCECOE']"}]}},"ID_2":{"runAfter":{"Crear_tabla_HTML_ID2":["Succeeded"]},"metadata":{"operationMetadataId":"ad98b356-60ae-4b51-8b1e-bd17c29a87da"},"type":"Compose","inputs":"@replace(body('Crear_tabla_HTML_ID2'),'*',' ')"},"Crear_tabla_HTML_daño_material":{"runAfter":{"ID_2":["Succeeded"]},"metadata":{"operationMetadataId":"ced2c3e9-f15c-43dd-a0c8-bdd504c51dbc"},"type":"Table","inputs":{"from":"@outputs('Obtener_elementos')?['body/value']","format":"HTML","columns":[{"header":"Nombre*involucrado/a","value":"@item()?['Nombreinvolucrado']"},{"header":"Tipo*de*vehículo/equipo","value":"@item()?['Tipodeveh_x00ed_culo_x002f_equip']"},{"header":"Patente*vehículo*dañado","value":"@item()?['Patente']"},{"header":"Marca","value":"@item()?['Marca']"}]}},"Daño_material":{"runAfter":{"Crear_tabla_HTML_daño_material":["Succeeded"]},"metadata":{"operationMetadataId":"530cf9d2-bd36-4f27-8e98-168f5fd5d531"},"type":"Compose","inputs":"@replace(body('Crear_tabla_HTML_daño_material'),'*',' ')"},"Crear_tabla_HTML_daño_a_personas":{"runAfter":{"Daño_material":["Succeeded"]},"metadata":{"operationMetadataId":"f5f9992c-659d-46a6-b60e-ae285c3fcebf"},"type":"Table","inputs":{"from":"@outputs('Obtener_elementos')?['body/value']","format":"HTML","columns":[{"header":"Nombre*afectado/a","value":"@{item()?['OData__x0031__x002e_1_x002e_Nombreafec']}*|*@{item()?['OData__x0032__x002e_1_x002e_Nombreafec']}*|*@{item()?['OData__x0033__x002e_1_x002e_Nombreafec']}*|*@{item()?['OData__x0034__x002e_1_x002e_Nombreafec']}*|*@{item()?['OData__x0035__x002e_1_x002e_Nombreafec']}"},{"header":"Cargo","value":"@{item()?['OData__x0031__x002e_3_x002e_Cargo']}*|*@{item()?['OData__x0032__x002e_3_x002e_Cargo']}*|*@{item()?['OData__x0033__x002e_3_x002e_Cargo']}*|*@{item()?['OData__x0034__x002e_3_x002e_Cargo']}*|*@{item()?['OData__x0035__x002e_3_x002e_Cargo']}"},{"header":"Parte*del*cuerpo","value":"@{item()?['OData__x0031__x002e_4_x002e_Partedelcu']}*|*@{item()?['OData__x0032__x002e_4_x002e_Partedelcu']}*|*@{item()?['OData__x0033__x002e_4_x002e_Partedelcu']}*|*@{item()?['OData__x0034__x002e_4_x002e_Partedelcu']}*|*@{item()?['OData__x0035__x002e_4_x002e_Partedelcu']}"},{"header":"Origen*de*lesión","value":"@{item()?['OData__x0031__x002e_5_x002e_Origendele']}*|*@{item()?['OData__x0032__x002e_5_x002e_Origendele']}*|*@{item()?['OData__x0033__x002e_5_x002e_Origendele']}*|*@{item()?['OData__x0034__x002e_5_x002e_Origendele']}*|*@{item()?['OData__x0035__x002e_5_x002e_Origendele']}"}]}},"Daño_a_personas":{"runAfter":{"Crear_tabla_HTML_daño_a_personas":["Succeeded"]},"metadata":{"operationMetadataId":"03ec3404-e41e-4c0f-8f16-46edf05bc23f"},"type":"Compose","inputs":"@replace(body('Crear_tabla_HTML_daño_a_personas'),'*',' ')"},"Estilo_tabla":{"runAfter":{"Daño_a_personas":["Succeeded"]},"metadata":{"operationMetadataId":"1126b89c-c5e1-43a3-9d74-0e234c3c95d5"},"type":"Compose","inputs":"<style>\ntable {\n  border: 1px solid #444444;\n  background-color: #FFFFFF;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #444444;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #FF3234;\n  border-bottom: 1px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 1px solid #444444;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>"},"Mostrar_miembros_del_grupo_Chile":{"runAfter":{"Mostrar_miembros_del_grupo_Reportabilidad":["Succeeded"]},"metadata":{"operationMetadataId":"aa2c6d65-b42c-4efe-9a0b-f6a374b14738"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"ListGroupMembers"},"parameters":{"groupId":"9e767fff-8799-4a7d-b819-14ddd72c384c"},"authentication":"@parameters('$authentication')"}},"Ámbito":{"actions":{"Aplicar_a_cada_uno":{"foreach":"@outputs('Obtener_elementos')?['body/value']","actions":{"Condición":{"actions":{"Conmutador_Pais":{"runAfter":{},"cases":{"Chile":{"case":"Chile","actions":{"Conmutador_Tipo_incidente_Chile":{"runAfter":{},"cases":{"Daño_a_personas":{"case":"Daño a personas","actions":{"Aplicar_a_cada_uno_2":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Chile')?['body/value']","actions":{"Enviar_correo_electrónico_Chile_Daño_Personas":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_2')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_a_personas')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=1>Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento":{"runAfter":{"Aplicar_a_cada_uno_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_Material":{"case":"Daño material","actions":{"Aplicar_a_cada_uno_6":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Chile')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_6')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_material')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=1>Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_5":{"runAfter":{"Aplicar_a_cada_uno_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_al_medio_ambiente":{"case":"Daño al medio ambiente","actions":{"Aplicar_a_cada_uno_10":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Chile')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_10')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_9":{"runAfter":{"Aplicar_a_cada_uno_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Simulacro_Interno_Programado":{"case":"Simulacro Interno Programado","actions":{"Aplicar_a_cada_uno_11":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Chile')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_11')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_16":{"runAfter":{"Aplicar_a_cada_uno_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@items('Aplicar_a_cada_uno')?['Tipodeincidente']","type":"Switch"}}},"Perú":{"case":"Perú","actions":{"Tipo_incidente_peru":{"runAfter":{},"cases":{"Daño_a_personas_peru":{"case":"Daño a personas","actions":{"Aplicar_a_cada_uno_3":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Perú')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_3')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_a_personas')}<br>\n<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_2":{"runAfter":{"Aplicar_a_cada_uno_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_material":{"case":"Daño material","actions":{"Aplicar_a_cada_uno_7":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Perú')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_7')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_material')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_6":{"runAfter":{"Aplicar_a_cada_uno_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_al_medio_ambiente":{"case":"Daño al medio ambiente","actions":{"Aplicar_a_cada_uno_12":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Perú')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_9":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_12')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_10":{"runAfter":{"Aplicar_a_cada_uno_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Simulacro_Interno_Programado":{"case":"Simulacro Interno Programado","actions":{"Aplicar_a_cada_uno_13":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Perú')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_10":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_13')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_11":{"runAfter":{"Aplicar_a_cada_uno_13":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@items('Aplicar_a_cada_uno')?['Tipodeincidente']","type":"Switch"}}},"Uruguay":{"case":"Uruguay","actions":{"Tipo_incidente_uru":{"runAfter":{},"cases":{"Daño_a_personas_uru":{"case":"Daño a personas","actions":{"Aplicar_a_cada_uno_4":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Uruguay')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_daño_a_personas_uru":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_4')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_a_personas')}<br>\n<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_3":{"runAfter":{"Aplicar_a_cada_uno_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_material":{"case":"Daño material","actions":{"Aplicar_a_cada_uno_8":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Uruguay')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_8')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']}  [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_material')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_7":{"runAfter":{"Aplicar_a_cada_uno_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_al_medio_ambiente":{"case":"Daño al medio ambiente","actions":{"Aplicar_a_cada_uno_14":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Uruguay')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_11":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_14')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] -  @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_12":{"runAfter":{"Aplicar_a_cada_uno_14":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Simulacro_Interno_Programado":{"case":"Simulacro Interno Programado","actions":{"Aplicar_a_cada_uno_15":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Uruguay')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_12":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_15')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_13":{"runAfter":{"Aplicar_a_cada_uno_15":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@items('Aplicar_a_cada_uno')?['Tipodeincidente']","type":"Switch"}}},"Colombia":{"case":"Colombia","actions":{"Tipo_incidente_colombia":{"runAfter":{},"cases":{"Daño_a_personas":{"case":"Daño a personas","actions":{"Aplicar_a_cada_uno_5":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Colombia')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_5')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_a_personas')}<br>\n<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_4":{"runAfter":{"Aplicar_a_cada_uno_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_material":{"case":"Daño material","actions":{"Aplicar_a_cada_uno_9":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Colombia')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_9')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n@{outputs('Estilo_tabla')}@{outputs('Daño_material')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_8":{"runAfter":{"Aplicar_a_cada_uno_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Daño_al_medio_ambiente":{"case":"Daño al medio ambiente","actions":{"Aplicar_a_cada_uno_16":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Colombia')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_13":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_16')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} [@{variables('Riesgo_potencial')}] - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_15":{"runAfter":{"Aplicar_a_cada_uno_16":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}},"Simulacro_Interno_Programado":{"case":"Simulacro Interno Programado","actions":{"Aplicar_a_cada_uno_17":{"foreach":"@outputs('Mostrar_miembros_del_grupo_Colombia')?['body/value']","actions":{"Enviar_correo_electrónico_(V2)_14":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Aplicar_a_cada_uno_17')?['mail']","emailMessage/Subject":"PCC @{items('Aplicar_a_cada_uno')?['Title']} - @{items('Aplicar_a_cada_uno')?['Tipodeincidente']}: @{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']} [@{items('Aplicar_a_cada_uno')?['L_x00ed_neadenegocio']} - @{items('Aplicar_a_cada_uno')?['Unidaddenegocio']}]","emailMessage/Body":"<p><strong></strong><strong>@{items('Aplicar_a_cada_uno')?['Tipodeincidente']}</strong><strong>: </strong><strong>@{items('Aplicar_a_cada_uno')?['Clasificaci_x00f3_n']}</strong><strong></strong><br>\n@{outputs('Estilo_tabla')}@{outputs('ID_1')}<br>\n@{outputs('Estilo_tabla')}@{outputs('ID_2')}<br>\n<strong>Descripción de lo ocurrido:</strong>\n<table border><thead style=\"background:#FCF3CF;color:#0000000;\"><tr><td><li><strong>@{items('Aplicar_a_cada_uno')?['Descripci_x00f3_n']}</li><li>Consecuencia daños: @{items('Aplicar_a_cada_uno')?['Consecuenciada_x00f1_osocasionad']}</th></td></strong></thead></table><br>\n@{variables('varLogoAmbipar')}<br>\n________________________________<br>\n<font size=\"1\">Este es un correo automático, por favor, no lo responda.</font>\n</p>","emailMessage/Attachments":"@variables('varFiles')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"Actualizar_elemento_14":{"runAfter":{"Aplicar_a_cada_uno_17":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://grupoambitec.sharepoint.com/sites/ReportesCECOE","table":"4a90a5a7-dcc2-420f-b069-0bcf6218ab93","id":"@items('Aplicar_a_cada_uno')?['ID']","item/Title":"@items('Aplicar_a_cada_uno')?['Title']","item/Disparadorcorreo/Value":"Enviado"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@items('Aplicar_a_cada_uno')?['Tipodeincidente']","type":"Switch"}}}},"default":{"actions":{}},"expression":"@items('Aplicar_a_cada_uno')?['Pa_x00ed_s']","metadata":{"operationMetadataId":"a114a4c1-0d33-431d-8c50-b0b01acd2c4a"},"type":"Switch"}},"runAfter":{},"expression":{"equals":["@items('Aplicar_a_cada_uno')?['Disparadorcorreo/Value']","Enviar correo"]},"metadata":{"operationMetadataId":"e441841a-a373-4e10-8e10-57827a963ea0"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"353dd68e-6283-4973-baea-f73b514ac9ff"},"type":"Foreach"}},"runAfter":{"Mostrar_miembros_del_grupo_Colombia":["Succeeded"]},"metadata":{"operationMetadataId":"7f35914f-62b3-4114-95f2-d5954225cd01"},"type":"Scope"},"Mostrar_miembros_del_grupo_Perú":{"runAfter":{"Mostrar_miembros_del_grupo_Chile":["Succeeded"]},"metadata":{"operationMetadataId":"1e85dd95-4ba3-44e8-8bea-38e5aa8fe7fa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"ListGroupMembers"},"parameters":{"groupId":"f2f601ec-17b6-4b96-9a75-13b81e98c9ad"},"authentication":"@parameters('$authentication')"}},"Mostrar_miembros_del_grupo_Uruguay":{"runAfter":{"Mostrar_miembros_del_grupo_Perú":["Succeeded"]},"metadata":{"operationMetadataId":"d6e5ca71-e70d-4303-9020-a1ee2286c5b0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"ListGroupMembers"},"parameters":{"groupId":"350844c5-d4f2-4332-8e77-ed1b2fd5132e"},"authentication":"@parameters('$authentication')"}},"Mostrar_miembros_del_grupo_Colombia":{"runAfter":{"Mostrar_miembros_del_grupo_Uruguay":["Succeeded"]},"metadata":{"operationMetadataId":"4148828a-75a7-456e-a793-43fcd82817d5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"ListGroupMembers"},"parameters":{"groupId":"d602aa0d-07ba-410b-9b52-e45c737e81a2"},"authentication":"@parameters('$authentication')"}},"Mostrar_miembros_del_grupo_Reportabilidad":{"runAfter":{"Estilo_tabla":["Succeeded"]},"metadata":{"operationMetadataId":"68cabc64-e50a-4801-9383-41e5e6a3e095"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"ListGroupMembers"},"parameters":{"groupId":"90daa610-9a0b-4915-b801-3143e6a42c3b"},"authentication":"@parameters('$authentication')"}},"Inicializar_riesgo_potencial":{"runAfter":{"Inicializar_variable_LogoAmbipar":["Succeeded"]},"metadata":{"operationMetadataId":"4842d323-9634-468b-9be8-4925fd495a3c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Riesgo_potencial","type":"string"}]}},"Aplicar_a_cada_uno_18":{"foreach":"@outputs('Obtener_elementos')?['body/value']","actions":{"Establecer_riesgo_potencial":{"runAfter":{},"metadata":{"operationMetadataId":"bcfabf7e-676c-403a-b7a0-28f2640f8955"},"type":"SetVariable","inputs":{"name":"Riesgo_potencial","value":"@items('Aplicar_a_cada_uno_18')?['RiesgoPotencial']"}}},"runAfter":{"Inicializar_riesgo_potencial":["Succeeded"]},"metadata":{"operationMetadataId":"78b95893-a3c0-4070-8aea-afbcde24df81"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-7cb077f2-6175-46e2-a20b-ff1a730ee79d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365groups":{"connectionName":"shared-office365grou-9f18c206-c65d-470f-af60-677b9f78d429","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365groups","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-31636c87-1980-4327-b750-16e339bb5691","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}